.header-main .logo a {
    margin-top: 11px;
    width: 300px;
    display: block;
}

/* Animate phone and zalo */

.yami-alo-ph-circle-shake {
    -webkit-animation: yami-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: yami-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: yami-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: yami-alo-circle-img-anim 1s infinite ease-in-out;
    animation: yami-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-moz-keyframes yami-alo-circle-img-anim{0%{transform:rotate(0) scale(1) skew(1deg)}10%,30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-moz-transform:rotate(0) scale(1) skew(1deg)}}
@-webkit-keyframes yami-alo-circle-img-anim{0%,100%,50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}10%,30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}}
@-o-keyframes yami-alo-circle-img-anim{0%,100%,50%{-o-transform:rotate(0) scale(1) skew(1deg)}10%,30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}}

.yami-phones-ph-img-circle {
	background: url(../images/phone.png) no-repeat;
    background-size: contain;
	background-color: #d74b33;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 99;
}

.yami-alo-ph-circle-fill {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #d74b33;
    border-radius: 100%;
    opacity: .1;
    -webkit-animation: yami-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: yami-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: yami-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: yami-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: yami-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 91;
}
.yami-alo-ph-circle{
    width: 100px;
    height: 100px;
    bottom: 20px;
    left: 20px;
    position: fixed;
    background-color: transparent;
    border-radius: 100% !important;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 92;
}
.yami-alo-ph-circle {
    border-color: #d74b33;
    opacity: 0.5;
}
@-moz-keyframes yami-alo-circle-fill-anim{0%,100%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{transform:rotate(0) scale(1) skew(1deg);opacity:.2}}
@-webkit-keyframes yami-alo-circle-fill-anim{0%,100%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{transform:rotate(0) scale(1) skew(1deg);opacity:.2}}
@-o-keyframes yami-alo-circle-fill-anim{0%,100%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{transform:rotate(0) scale(1) skew(1deg);opacity:.2}}
@keyframes yami-alo-circle-fill-anim{0%,100%{transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{transform:rotate(0) scale(1) skew(1deg);opacity:.2}}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    50% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
.social-media {
    position: fixed;
    left: 10px;
    bottom: 15px;
    z-index: 9;
}
.item-contact .icon_messenger{
    background: url(../images/face-message-60.png);
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-contact .title {
    display: none;
    position: absolute;
    left: 60px;
    top: 0;
    width: 200px;
    background: #fffAF0;
    border: 1px solid #DCA;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(255,255,255,0.25);
    padding: 10px;
    color: #111;
}
.face-message {
    position: relative;
    bottom: 100px;
    left: 40px;
}
.header-main.fixed{
    animation: stuckMoveDown .6s;
}
@keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

.logo-bg{
    background-color: #424242;
}
@media (max-width: 1024px){
    .logo-bg{
        background-color: transparent;
    }
}
#top-bar{
    background-color: #882f3d;
}
li.html_topbar_left{
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: .9em;
}
.nav-dark .nav-vertical li li.menu-item-has-children>a, 
.nav-dark .nav>li.html, 
.nav-dark .header-button,
.nav-dark .nav>li>a {
    color: rgba(255,255,255,0.5);
}
.nav-divided>li>a {
    font-size: .9em;
}
.nav-dark .nav>li>a:hover{
    color: rgba(255,255,255,1);
}
.nav-divided>li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin: 0 7px;
    transition: background-color .3s;
    
}
.nav-divided>li+li>a:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1px;
    border-left: 1px solid rgba(0,0,0,0.1);
    height: 15px;
    margin-top: -7px;
    left: -1em;
    background: rgba(255,255,255,0.2);
}
.nav-divided>li {
    margin: 0 .7em;
}
.flex-row {
    height: 100%;
}
.flex-row {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.container.flex-row{
    max-width: 1140px;
}

.sidebar-container .widget_nav_menu li {
    color: #4a5472;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}
.widget-area .widget {
    border-bottom: none
}
.sidebar-shopinfo .img{
    margin-top: 6px;
    margin-right: 8px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
}
.sidebar-shopinfo .text{
    margin-left: 30px;
    font-weight: 600;
    color: #4a4a4a;
    font-size: 13px;
}
.sidebar-shopinfo .text-small{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
}
.sidebar-shopinfo-top,
.sidebar-shopinfo-bottom{
    margin: 11px 0 0;
    border-radius: 4px;
    border: 1px solid #ececec;
    font-size: 13px;
}
.sidebar-shopinfo-top .img{
    background-image: url(../images/store.png);
    background-size: 20px;
}
.sidebar-shopinfo-bottom{
    padding: 10px;
    margin-bottom: 15px;
}
.sidebar-shopinfo-bottom .img{
    background-image: url(../images/phone@2x.png);
    background-size: 20px;
    margin-top: 2px;
}
.sidebar-shopinfo-bottom .email .img{
    background-image: url(../images/email@2x.png);
    background-size: 20px;
    margin-top: 2px;
}
.warranty-info, .name{
    margin: 0 0 8px;
}
.current-seller .warranty-info .img {
    background-image: url(../images/warranty.png);
    background-size: 20px;
}
.current-seller{
    padding: 0 5px 2px 10px;
    margin: 10px 0 0;
}
.sidebar-shopinfo-bottom .item p {
    margin-left: 29px;
    font-size: 13px;
}
.flex-left{
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}
@media (max-width: 849px){
    .hide-for-medium{
        display: none;
    }
    .show-for-medium.flex-left{
        flex: 1 1 0%;
        text-align: center;
    }
}